<div class="wrapper">
  <!-- menubar  -->
  <app-menubar></app-menubar>
  <!-- end menubar-->

  <!-- Page Content  -->
  <div id="content">

    <!--navbar-->
    <app-navbar></app-navbar>
    <!--fin navbar-->

    <div class="card">
      <div class="card-header">
        <b>REGISTRAR CUESTIONARIO</b>
      </div>
      <div class="card-body">

        <ul class="alert alert-danger" *ngIf="errores?.length > 0">
          <li *ngFor="let err of errores">
            {{ err }}
          </li>
        </ul>

        <form>
          <div class="row">
            <div class="col-md-4">
              <label>Nombre Encuesta: </label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" value="DSM-V" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <label>Fecha: </label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="date" class="form-control" [(ngModel)]="cuestionario.fecha" name="fecha">
              </div>
            </div>
            <div class="col-md-4">
              <label>Programa: </label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input *ngIf="cuestionario.programa" type="text" class="form-control" value="{{cuestionario.programa.descripcion}}">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button" (click) = "abrirModal3()"><img src="../../../assets/img/search.png"></button>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <label>Infante encuestado: </label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input *ngIf="cuestionario.infante" type="text" class="form-control" value="{{cuestionario.infante.nombre}} {{cuestionario.infante.apellido}}">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button" (click) = "abrirModal()"><img src="../../../assets/img/search.png"></button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Profesor responsable: </label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input *ngIf="cuestionario.profesor" type="text" class="form-control" value="{{cuestionario.profesor.nombre}} {{cuestionario.profesor.apellido}}">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button" (click) = "abrirModal2()"><img src="../../../assets/img/search.png"></button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Grado:</label>
              <select class="form-control" [(ngModel)]="cuestionario.grado" name="grado">
                <option value="undefined">---Seleccionar un grado---</option>
                <option value="Primero">Primero</option>
                <option value="Segundo">Segundo</option>
                <option value="Tercero">Tercero</option>
                <option value="Cuarto">Cuarto</option>
                <option value="Quinto">Quinto</option>
                <option value="Sexto">Sexto</option>
              </select>
            </div>

            <div class="col-md-6">
              <label>Nivel de Educación:</label>
              <select class="form-control" [(ngModel)]="cuestionario.niveleducacion" name="niveleducacion">
                <option value="undefined">---Seleccionar un nivel---</option>
                <option value="Inicial">Inicial</option>
                <option value="Primaria">Primaria</option>
                <option value="Secundaria">Secundaria</option>
              </select>
            </div>
          </div>

        </form>

        <br>
        <table class="table table-bordered table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">N° Item</th>
              <th scope="col">Descripcion</th>
              <th scope="col">SI</th>
              <th scope="col">NO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itemCuestionario; let i = index" [attr.data-index]="i">
              <td>{{item.numeroItem}}</td>
              <td>{{item.descripcion}} </td>
              <td><input type="radio" name="{{i}}" value="V" (change)="changeRadio($event)"></td>
              <td><input type="radio" name="{{i}}" value="F" (change)="changeRadio($event)"></td>
            </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-info" (click)="saveCuestionario()"><i class="far fa-save"></i> Guardar</button>
        <button class="btn btn-danger" (click)="probarModelo()">Probar</button>
      </div>
    </div>
  </div>
</div>
<app-search-infante></app-search-infante>
<app-search-profesor></app-search-profesor>
<app-search-programa></app-search-programa>