<nav id="sidebar">
  <div class="sidebar-header text-center">
    <h3><img src="../../../assets/img/laptop.png"> Aplicación TDAH</h3>
  </div>
  <div class="line"></div>
  <ul class="list-unstyled components">
    <p class="text-center"><img src="../../../assets/img/star.png"> Menú Principal</p>
    <li>
      <a href="#usuarioSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><img src="../../../assets/img/user2.png">
        Usuario</a>
      <ul class="collapse list-unstyled" id="usuarioSubmenu">
        <!--<li>
          <a routerLink="/list-usuario"><img src="../../../assets/img/listar.png"> Listar</a>
        </li>-->
        <li>
          <a routerLink="/add-usuario"><img src="../../../assets/img/save.png"> Registrar</a>
        </li>
        <li>
          <a routerLink="/list-usuario"><img src="../../../assets/img/edit.png"> Mantener</a>
        </li>
      </ul>
    </li>
    <li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <img src="../../../assets/img/female.png">
        Profesor</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a routerLink="/add-profesor"><img src="../../../assets/img/save.png"> Registrar</a>
        </li>
        <li>
          <a routerLink="/list-profesor"><img src="../../../assets/img/edit.png"> Mantener</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#infanteSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><img src="../../../assets/img/child.png">
        Infante</a>
      <ul class="collapse list-unstyled" id="infanteSubmenu">
        <li>
          <a routerLink="/add-infante"><img src="../../../assets/img/save.png"> Registrar</a>
        </li>
        <li>
          <a routerLink="/list-infante"><img src="../../../assets/img/edit.png"> Mantener</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">About</a>
    </li>

    <li>
      <a href="#">Portfolio</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
    </li>
    <li>
      <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
    </li>
  </ul>
</nav>