<div class="container login">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Formulario Registro Nuevo Usuario</h3>

      </div>
      <div class="card-body">
        <ul class="alert alert-danger" *ngIf="errores?.length > 0">
          <li *ngFor="let err of errores">
            {{ err }}
          </li>
        </ul>
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="username" [(ngModel)]="usuario.nombreusuario" name="nombreusuario">

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="password" [(ngModel)]="usuario.clave" name="clave">
          </div>
          <div class="form-group">
            <button class="btn float-right login_btn" (click)="create()">Registrar</button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="#">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
